<h1>Import conferences (.csv only)</h1>
<p>Importing will update existing conferences with the data from the csv file</p>

<%= form_tag import_orga_conferences_path, multipart: true do %>
  <div class="form-group">
    <%= file_field_tag :file, accept: '.csv' %>
  </div>
  <div class="form-group">
    <%= submit_tag "Import CSV file", class: "btn btn-default btn-small"  %>
  </div>
<% end %>
<h1>Export teams' preferences (.csv only)</h1>
<p>Export teams' conference preferences as a csv file</p>

<%= form_tag orga_exports_path, class: "form-inline" do %>
  <%= hidden_field_tag :export, 'Exporters::ConferencePreferences#current' %>
  <%= submit_tag "Download teams' preferences", class: "btn btn-default btn-small"  %>
<% end %>
