<h1 class=" header">Conferences (1st round)</h1>
<table class="table-striped table-bordered table-condensed conferences">
  <thead>
  <tr>
    <th> <%= sortable "Conference" %> </th>
    <th> <%= sortable "Location" %> </th>
    <th> <%= sortable "Dates" %> </th>
    <th> Attendees </th>
    <th> Tickets left </th>
    <th> Lightning Talk Slots?</th>
  </tr>
  </thead>

  <tbody>
  <% conferences.where(round: 1).each do |conference| %>
  <tr>
    <td> <%= link_to conference.name, [namespace, conference] %></td>
    <td> <%= conference.location %></td>
    <td> <%= format_conference_date(conference.starts_on, conference.ends_on) %></td>
    <td> <%= conference.attendees.any? ? links_to_attendances(conference).join(', ').html_safe : '-' %></td>
    <td> <%= conference.tickets_left %></td>
    <td><%= conference.lightningtalkslots? ? "yes" : "no" %></td>
  </tr>
      <% end %>
    </tbody>
</table>

<br>
<p><%= link_to "View as Calendar", calendar_path %>
</p>

<p><%= link_to "Show/Hide Other Round Conferences", "#", onclick: "$('.next-conferences').toggle()" %></p>

<div class="next-conferences" style='display:none;'>
<h1 class=" header">Conferences (2nd round)</h1>

<table class="table-striped table-bordered table-condensed conferences">
  <thead>
    <tr>
      <th> <%= sortable "Conference" %> </th>
      <th> <%= sortable "Location" %> </th>
      <th> <%= sortable "Dates" %> </th>
      <th> Attendees </th>
      <th> Tickets left </th>
      <th> Lightning Talk Slots?</th>
    </tr>
  </thead>

  <tbody>
  <% conferences.where(round: 2).each do |conference| %>
      <tr>
        <td> <%= link_to conference.name, [namespace, conference] %></td>
        <td> <%= conference.location %></td>
        <td> <%= format_conference_date(conference.starts_on, conference.ends_on) %></td>
        <td> <%= conference.attendees.any? ? links_to_attendances(conference).join(', ').html_safe : '-' %></td>
        <td> <%= conference.tickets_left %></td>
        <td><%= conference.lightningtalkslots? ? "yes" : "no" %></td>
      </tr>
  <% end %>
  </tbody>
</table>
</div>