<br/>
<!-- NEXT STEP TODO: This should only show in dev mode; add that to ... (controller?)  -->
<hr>
<h3> For development only: select season phase </h3>
<p>to adjusts all the date dependent settings for <i>current_season</i> .

<%= form_tag orga_seasons_path, action: switch_seasons, method: :get do %>
    <%= radio_button_tag :option, "Application" %>
     <%= label_tag("Application Phase") %> 
    <%= radio_button_tag :option, "SummerCoding" %> 
    <%= label_tag("Coding Phase") %> 
      <%= submit_tag("Switch phase") %>
<% end %>

<p><%= " current_season #{@fakephase} set to #{params[:option]}"%></p>